{% extends '@SonataAdmin/CRUD/list.html.twig' %}

{% block actions %}
    {% apply spaceless %}
        <li>{% include '@IbrowsSonataTranslation/Core/clear_cache_button.html.twig' %}</li>
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <li>{% include '@SonataAdmin/Core/create_button.html.twig' %}</li>
        {% endif %}
    {% endapply %}
{% endblock %}

{% block list_footer %}
    {% if admin.datagrid.results|length > 0 %}
    <div class="box-footer">
        <div class="form-inline clearfix">
            {% if not app.request.isXmlHttpRequest %}
            {% if admin.hasRoute('batch') and batchactions|length > 0  %}
                {% block batch %}
                <script>
                    {% block batch_javascript %}
                    jQuery(document).ready(function ($) {
                        $('#list_batch_checkbox').on('ifChanged', function () {
                            $(this)
                                .closest('table')
                                .find('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
                            ;
                        });

                        $('td.sonata-ba-list-field-batch input[type="checkbox"]')
                            .on('ifChanged', function () {
                                $(this)
                                    .closest('tr')
                                    .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                                ;
                            })
                            .trigger('ifChanged')
                        ;

                        $('#batch-select').change(function () {
                            $('#go-batch').removeAttr('disabled');
                        });
                    });
                    {% endblock %}
                </script>

                {% block batch_actions %}
                <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                    <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                    {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                    ({{ admin.datagrid.pager.nbresults }})
                </label>

                <select name="action" id="batch-select" style="width: auto; height: auto; min-width: 90px;" class="form-control">
                    <option selected disabled value>&nbsp;</option>
                    {% for action, options in batchactions %}
                        <option value="{{ action }}">{{ options.label }}</option>
                    {% endfor %}
                </select>
                {% endblock %}

            <input type="submit" id="go-batch" disabled="disabled" class="btn btn-small btn-primary ml-2" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                {% endblock %}
            {% endif %}

                {% if not is_granted('ROLE_SUPER_ADMIN') or not is_granted('ROLE_ADMIN') %}
                    {{ 'label.batch_delete_request'|trans({}, "messages") }}
                {% endif %}

                <div class="ml-auto d-flex align-items-center">
                    {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-export"></i>
                                {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                            </button>
                            <ul class="dropdown-menu">
                                {% for format in admin.getExportFormats() %}
                                <li>
                                    <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                        <i class="glyphicon glyphicon-download"></i>
                                        {{ format|upper }}
                                    </a>
                                <li>
                                    {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% block pager_results %}
                        {% include admin.getTemplate('pager_results') %}
                    {% endblock %}
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% block pager_links %}
        {% if admin.datagrid.pager.haveToPaginate() %}
            {% include admin.getTemplate('pager_links') %}
        {% endif %}
    {% endblock %}
{% endblock %}
